.navbar {
  border-radius: 15px;
  margin: 0px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffffff; /* White background */
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
  padding: 10px 0;
  width: 500px;
}

.navbar-heading {
  color: #0d47a1; /* Strong Blue */
  text-decoration: none;
  font-weight: bold;
}

.brand-container {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.navbar button{
    margin-left: 300px;
}